body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#fff;
}
#calculator-container{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1c1c1c;
    width: 400px;
    max-width: 400px;
    padding: 60px 10px 0 10px;
    border: 5px solid salmon;
    border-radius: 6px;
}
#display{
    text-align: right;
    color: white;
    border: none;
    width: 100%;
    font-size: 36px;
    background-color: #1c1c1c;
    box-sizing: border-box;

}
#buttons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 8px;
    padding: 8px;
}
#buttons button {
    background-color: #505050;
    color: white;
    font-size: 36px;
    text-align: center;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    border: none;
    outline: none;
}
#buttons button:hover{
    opacity: 70%;
}
#buttons button:active{
    opacity: 90%;
}